<div class="container mt-4">
  <header class="header-navbar col-12 d-flex justify-content-between">
    <div class="header-navbar-left">
      <form action="#">
        <div class="form-group-search">
          <input type="text" />
        </div>
      </form>
    </div>
    <div class="header-navbar-right">
      <div class="header_image-user img-fluid. max-width: 50px;">
        <img
          src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png"
          alt=""
          class="image-user mx-auto d-block"
          style="width: 50%;
    border-radius: 100%;"
        />
      </div>
    </div>
  </header>

  <main class="main col-12 d-flex justify-content-between">
    <aside class="col-3">
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img
              src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png"
              alt="..."
            />
          </a>
          <div class="feature-admin">
            <ul class="navbar-list">
              <li><a href="/">Trang chủ</a></li>
              <li><a href="/admin/products/create">Thêm sách</a></li>
              <li><a href="#">Category</a></li>
              <li><a href="/admin/me/stored/products">Products</a></li>
              <li><a href="/admin/me/listUser">User</a></li>
              <li><a href="/admin/auth/viewLogin">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </aside>
    <article class="col-9">Đây là phần nội dung của trang Admin</article>
  </main>
</div>