<div class="main col-xl-3">
  <aside class="d-flex" style="background-color: #ecf1f7;">
    <nav class="navbar">
      <div class="">
        <a class="navbar-brand" href="/admin"><img
            src="https://c.mgg.vn/d/shopsach.com/img/logo_header.jpg"
            alt="..."
          />
        </a>
        <div class="feature-admin">
          <ul class="navbar-list">
            <li><a href="/admin">Trang chủ</a></li>
            <li><a href="/admin/me/stored/products">Products</a></li>
            <li><a href="/admin/me/stored/categories">Category</a></li>
            <li><a href="/admin/me/listUser">User</a></li>
            <li><a href="/admin">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </aside>
</div>