<div
  class="col-xl-2"
  style="position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    background: #e0e0e0;
    overflow-y: auto;"
>
  <aside class="row">
    <nav class="navbar">
      <div class="navbar_dashboard">
        <div class="navbar_dashboard-top">
          <a class="navbar-brand text-center d-block" href="/admin"><img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              style="width: 120px;"
              alt="Avatar"
            />
          </a>
          <h5 class="mb-2 text-center"><strong>Viết Quân</strong></h5>
          <p class="text-muted text-center">Web designer
            <span class="badge bg-white text-danger">PRO</span>
          </p>
        </div>
        <style>
          .navbar_dashboard-list>ul>li>a{ color: black; display:
          block;text-decoration: none; padding: 2px 0; border-bottom: 1px solid
          #ccc;margin-bottom: 10px; }
        </style>
        <div class="navbar_dashboard-list">
          <ul class="nav d-flex flex-column">
            <li><a class="text-dark" href="/admin"><i
                  class="fa-solid fa-house"
                ></i>
                Trang chủ</a></li>
            <li><a href="/admin/me/stored/products"><i
                  class="fa-solid fa-store"
                ></i>Products</a></li>
            <li><a href="/admin/me/stored/categories"><i
                  class="fa-solid fa-rectangle-list"
                ></i>Category</a></li>
            <li><a href="/admin/me/stored/listComments"><i
                  class="fa-solid fa-comment"
                ></i>Comment</a></li>
            <li><a href="/admin/me/stored/listUser"><i
                  class="fa-solid fa-users"
                ></i>
                User</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </aside>
</div>