<div
  class="col-xl-2"
  style="position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    background: #e0e0e0;
    overflow-y: auto;"
>
  <aside class="row">
    <nav class="navbar">
      <div class="navbar_dashboard">
        <div class="navbar_dashboard-top">
          <a class="navbar-brand text-center d-block" href="/admin"><img
              src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/299911869_368316448787218_5994795139358466823_n.jpg?stp=dst-jpg_s851x315&_nc_cat=108&ccb=1-7&_nc_sid=da31f3&_nc_ohc=0BEDJwLkyfEAX95glp7&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBsDKMxGfQttC538I_apc-MiWBd8L8Gz8AVsMoXf_ROmw&oe=64453871"
              class="rounded-circle"
              style="width: 120px;"
              alt="Avatar"
            />
          </a>
          <h5 class="mb-2 text-center"><strong>Viết Quân</strong></h5>
          <p class="text-muted text-center">Web designer
            <span class="badge bg-white text-danger">PRO</span>
          </p>
        </div>
        <style>
          .navbar_dashboard-list>ul>li>a{ color: black; display:
          block;text-decoration: none; padding: 2px 0; border-bottom: 1px solid
          #ccc;margin-bottom: 10px; }
        </style>
        <div class="navbar_dashboard-list">
          <ul class="nav d-flex flex-column">
            <li><a class="text-dark" href="/admin"><i
                  class="fa-solid fa-house mr-2"
                ></i>
                Trang chủ</a></li>
            <li><a href="/admin/me/stored/products"><i
                  class="fa-solid fa-store mr-2"
                ></i>Products</a></li>
            <li><a href="/admin/me/stored/categories"><i
                  class="fa-solid fa-rectangle-list mr-2"
                ></i>Category</a></li>
            <li><a href="/admin/me/stored/listComments"><i
                  class="fa-solid fa-comment mr-2"
                ></i>Comment</a></li>
            <li><a href="/admin/me/stored/listUser"><i
                  class="fa-solid fa-users mr-2"
                ></i>
                User</a></li>
            <li><a href="/admin/me/stored/listOrders"><i
                  class="fa-solid fa-cart-shopping mr-2"
                ></i>
                Cart</a></li>
            <li><a href="/"><i
                  class="fa-sharp fa-solid fa-right-from-bracket mr-2"
                ></i>
                Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </aside>
</div>