<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/">

      <img
        src="https://c.mgg.vn/d/shopsach.com/img/logo_header.jpg"
        alt="icon"
        class="icon-shop"
        style=" 
              border-radius: 10px;"
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="https://images.unsplash.com/photo-1561948955-570b270e7c36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
              alt="icon"
              class="user-avatar"
              style=" width:50px; height:50px;
              border-radius: 50px;
              margin-right: 10px;"
            />
            <span class="namelogin">Quandev99</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/auth/viewLogin">Đăng Nhập</a>
            <a class="dropdown-item logoutBtn" href="#">Đăng Xuất</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/categories/create">Thêm danh
              mục sách</a>
            <a class="dropdown-item" href="/admin/me/stored/categories">Danh mục
              sách</a>
            <a class="dropdown-item" href="/admin/me/stored/products">Sản phẩm
              Của Tôi</a>
            <a class="dropdown-item" href="/admin/me/listUser">Danh sách tài
              khoản Của Tôi</a>
            <a class="dropdown-item" href="/admin/products/create">Đăng sản phẩm</a>
            {{! <div class="dropdown-divider"></div> }}

          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >Search</button>
      </form>
    </div>
  </div>
</nav>

<script type="text/javascript">
  const user = JSON.parse(localStorage.getItem("user")); console.log(user);
  const nameLogin = document.querySelector(".nameLogin"); const userAvatar =
  document.querySelector(".user-avatar"); if(user?.userName && user?.avatar) {
  const srcAvatarUser = user.avatar; nameLogin.textContent = user.userName ;
  userAvatar.src = srcAvatarUser} const logoutBtn =
  document.querySelector(".logoutBtn"); logoutBtn &&
  logoutBtn.addEventListener("click", (e) => { e.preventDefault();
  localStorage.clear(); alert("Dang xuat khoi the gioi thanh cong");
  location.href = "/" })
</script>