<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">

    <a class="navbar-brand" href="/">

      <img
        src="https://c.mgg.vn/d/shopsach.com/img/logo_header.jpg"
        alt="icon"
        class="icon-shop"
        style=" 
          width:100px;
          height:50px;
              border-radius: 10px;"
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/categoryProduct">Sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/introduce">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/order">Liên hệ</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="https://images.unsplash.com/photo-1561948955-570b270e7c36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
              alt="icon"
              class="user-avatar"
              style=" width:50px; height:50px;
              border-radius: 50px;
              margin-right: 10px;"
            />
            <span class="namelogin text-dark">Quandev99</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/auth/viewLogin">Đăng Nhập</a>
            <a class="dropdown-item logoutBtn" href="#">Đăng Xuất</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="admin" href="/admin">Admin</a>
          </div>
        </li>
      </ul>
      <form
        class="form-inline my-2 my-lg-0"
        action="/searchProducts"
        method="get"
        id="submit-search-product"
      >
        <input
          class="form-control mr-sm-2 search-product-input"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />

        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >Search</button>
      </form>
    </div>
  </div>
</nav>
<script src="/js/header.js"></script>