<div class="container-fluid bg-white">
  <div class="container">
    <ul class="d-flex list-unstyled nav-link">
      <li>
        <a class="text-dark" href="/" title="Trang chủ Shop Sách!">Trang chủ /
        </a>
      </li>
      <li class="active hidden-xs text-muted pl-2"> Giới thiệu</li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="col-xs-12 border rounded p-4 bg-white">
    <h1>Giới thiệu Shop Sách! - ShopSach.com</h1>
    <p><br /><img
        src="https://shopsach.com/img/logo.jpg"
        height="100px"
        alt="Logo Shop Sách!"
      /><br /><i>Logo ShopSach.com</i><br /></p>
    <p>ShopSach.com là trang tổng hợp các đầu sách tại các trang thương mại điện
      tử. Gom nhóm theo tác giả, nội dung, thể loại tại các trang thương mại
      điện tử và chương trình khuyến mãi của các trang thương mại điện tử.</p>
    <p>Đến với ShopSach.com bạn sẽ dễ dàng tìm kiếm các loại sách mà bạn cần.
      Những mặt hàng các loại sách mới nhất và đang hot nhất. Bạn cũng có thể dễ
      dàng tìm kiếm trên Google, trang tìm kiếm hàng đầu thế giới về sản phẩm
      bạn muốn. Và bạn sẽ tìm thấy ShopSach.com và nơi mua chúng. Để bạn có thể
      dễ dàng tìm kiếm và so sánh giá của các loại sách. Nên nhớ rằng chúng tôi
      không bán hàng. Chúng tôi chỉ giúp bạn tìm nơi để mua sản phẩm với giá RẺ,
      GẦN, NHANH.</p>
    <h2>Chức năng của ShopSach.com hiện tại</h2>
    <p>– Tìm kiếm nhanh và chính xác thông tin sách giáo khoa, sách ngoại ngữ,
      truyện tranh, tiểu thuyết, sách dạy kỹ năng, sách tiếng anh, sách giáo
      khoa, sách giáo trình...</p>
    <p>– Tra cứu giá bán và vị trí cũng như độ uy tín của bất kì nhà bán lẻ trên
      toàn quốc</p>
    <p>– Nhận được tư vấn về việc chọn mua và sử dụng sản phẩm/dịch vụ từ các
      chuyên gia và cộng đồng.</p>
    <h2>Đôi lời về tác giả</h2>
    <p>Với tất cả niềm đam mê và lòng nhiệt huyết, ShopSach.com đã trở thành một
      thương hiệu được tín đồ yêu thích các loại sách quan tâm cũng như được
      đông đảo mọi người ưa chuộng sử dụng và đặt niềm tin.</p>
    <p>Hi vọng, ShopSach.com sẽ nhận được nhiều ý kiến, đóng góp để chúng tôi
      ngày càng hoàn thiện và phát triển.</p>
    <p>Mọi ý kiến đóng góp, vui lòng liên hệ qua email:
      <a
        class="text-primary"
        href="mailto:quandpd06465@fpt.edu.vn"
        title="Mail Shop Sách!"
      >quandpd06465@fpt.edu.vn</a>
    </p><br /><br /><br /><br /><br />
  </div>
</div>