<div class="mt-4 container">
  <div class="row">
    <div class="col-lg-5">
      <img
        width=""
        height="506"
        src="{{product.image}}"
        title="sản phẩm"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        img
      />
    </div>
    <div class="col-lg-7">
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <p>{{product.price}}</p>
      <button>Mua Ngay</button>
      <ul>
        <li>Sách giáo khoa</li>
      </ul>
    </div>
  </div>
</div>