<div class="mt-4">
  <form method="get" action="/news">
    <div class="form-group">
      <label for="exampleInputText">Nhập từ khóa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="exampleInputText"
        placeholder="Enter Search..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
  </form>
</div>